{% include header.html %}
<div class="wrapper">
    <div class="content" id="content-div">
        <div class="container-fluid">
            <div class="row">
                {% if page.sidebar == 'false' %}
                    <div class="col-md-12 d-inline-block">
                {% else %}
                    <div class="col-md-9 d-inline-block">
                {% endif %}
                    <div id="breadcrumbs">
                        {% include head_breadcrumb.html %}
                    </div>
                    <div class="row row-cols-1 text-bg-dark row-cols-md-3 g-4">
                        <div class="col text-bg-dark">
                            <div class="card-group text-bg-dark">
                            {% for project in site.data.projects %}
                                <div class="bg-dark card">
                                    <div class="card-header text-bg-dark">
                                        {{project[0]}}
                                    </div>
                                    <div class="bg-dark card-body">
                                        <h5 class="card-title">{{ project[1]['category']}}</h5>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        </div>
                    </div>
                </div>
                {% if page.sidebar != 'false' %}
                <div id="sidebar" class="col-md-3 d-sm-block d-xs-block d-md-block">
                    {% include sidebar.html %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
{% include footer.html %}